{% extends "base.html" %}

{% block title %}ADD{% endblock %}

{% block head %}
<script src="/js/tag-autocomplete.js"></script>
<script src="/js/add.js"></script>
{% endblock %}

{% block content %}    

<div class="page-header">
  <h1>
    Add a new thing
    <small>It's as simple as..</small>
  </h1>
</div>

{% if errors is defined %}
    <div class="alert alert-error">
        <b>Sabotuer!</b>
        <ul>
            {% for e in errors %}
                <li>{{ e }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

{% if added == true %}
    <div class="alert alert-success">
        Added your thing!
    </div>
{% endif %}

<form method="POST">    
    
    {{ macros.field("link", "1. Entering your thing", class="span6", context=context) }}
    {{ macros.tokenised_typeahead("tags", "2. Tagging your thing", context=context) }}
    {{ macros.field("date_expires", "3. Expiring your thing (optional)", class="span2", context=context) }}
    <input type="submit" class="btn btn-primary" value="Add it" id="add_entry"/>
</form>



{% endblock %}

