{% extends "base.html" %}
{% import 'macros.html' as macros %}

{% block title %}ADD{% endblock %}

{% block head %}
<script src="/js/add.js"></script>
{% endblock %}

{% block content %}    

<script>
    var tagSource = {{ tags | json }};
</script>

<form method="POST">
    {{ macros.field("link", "1. Enter your link") }}
    {{ macros.field("tags", "2. Enter your tags") }}
    {{ macros.field("date_expires", "3. Enter the expiry date (optional)") }}
    <input type="submit" value="Add!"/>
</form>

{% if added is defined %}
    <div>
        Added the link {{ link | e}}!
    </div>
{% endif %}
{% endblock %}

