{% extends "base.html" %}

{% block title %}ADD{% endblock %}

{% block head %}
<script src="/js/tag-autocomplete.js"></script>
<script src="/js/add.js"></script>
{% endblock %}

{% block content %}    

<script>
    var tagSource = {{ tags | json }};
    $(function(){
        $("#link").popover();
    });

</script>

<div class="page-header">
  <h1>
    Add a new thing
    <small>It's as simple as..</small>
  </h1>
</div>


{% if added is defined %}
    <div class="alert alert-success">
        Added your thing!
    </div>
{% endif %}

{% if errors is defined %}
    <div class="alert alert-error">
        <b>Sabotuer!</b>
        <ul>
            {% for e in errors %}
                <li>{{ e }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
<form method="POST">    
    
    {% set attrs = {"class":"class", "title":"A title", "value":""} %}
    {{ macros.field("link", "1. Entering your thing", attrs) }}
    {{ macros.tokenised_typeahead("tags", "2. Tagging your thing") }}
    {{ macros.field("date_expires", "3. Expiring your thing (optional)", args) }}
    <input type="submit" value="Add!" id="add_entry"/>
</form>

{% endblock %}

