{% extends "base.html" %}
{% import 'macros.html' as macros %}

{% block title %}ADD{% endblock %}

{% block head %}
<script src="/js/add.js"></script>
{% endblock %}

{% block content %}    

<script>
    var tagSource = {{ tags | json }};
</script>

{% if added is defined %}
    <div class="success">
        Added the link!
    </div>
{% endif %}

{% if errors is defined %}
    <div class="error">
        <b>Whoops!</b>
        <ul>
            {% for e in errors %}
                <li>{{ e }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

<form method="POST">
    {{ macros.field("link", "1. Enter your link") }}
    {{ macros.field("tags", "2. Enter your tags") }}
    {{ macros.field("date_expires", "3. Enter the expiry date (optional)") }}
    <input type="submit" value="Add!" id="add_entry"/>
</form>

{% endblock %}

