{% import 'macros.html' as macros %}
<!DOCTYPE html >
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script> 
    <link rel="stylesheet" href="/styles/css/bootstrap.css" type="text/css"/>
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" type="text/css"/>
    <script src="/js/bootstrap/typeahead.js"></script>
    <script src="/js/bootstrap/tooltip.js"></script>
    <script src="/js/bootstrap/popover.js"></script>
    <script src="/js/tokenised-typeahead.js"></script>
    {% block head %} 
    {% endblock %}
</head>
<body>
    <div class="container-fluid">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="#">
                        I Like Things
                    </a>
                    <ul class="nav">
                        <li class="active">
                            <a href="#"><i class="icon-eye-open icon-white"></i> See my things</a>
                        </li>
                        <li>
                            <a href="#"><i class="icon-plus icon-white"></i> Add a new thing</a>
                        </li>
                    </ul> 
                    <ul class="pull-right nav">
                        <li>     
                            <a href="#">Sign out</a>
                        </li>
                    </ul>            
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span8">
                {% block content %}
                {% endblock %}
            </div>
            <div class="span4">
            
            </div>
        </div>
    </div>
</body>
</html>