{% extends "base.html" %}

{% block head %}
<script src="/js/tag-autocomplete.js"></script>
<script src="/js/tag-search.js"></script>
{% endblock %}

{% block title %}LIST{% endblock %}

{% block content %}  
<script>
    var tagSource = {{ tags | json }};
</script>
<h1>Your links</h1>
{{ macros.testmacro("TEST", "A test!", type="number", class="hi test", placeholder="it works!") }}
<div id="search">
    {{ macros.field("tags", "search by tags:") }}
</div>

<h2>Recent links for {{ user }}</h2>
<div id="entries">
    {{ macros.entries(recent_entries) }}
</div>

{% endblock %}