{% extends "base.html" %}

{% block title %}LIST{% endblock %}

{% block content %}  
<h1>Your links</h1>
<h2>Entries for {{ user }}</h2>
<div id="entries">
{% for entry, tags in recent_entries %}
    <div class="entry">
        <a href="{{ entry.link | e }}">{{ entry.link | e }}</a>
        <span>{{ entry.date_created | timesince }}</span>
        <div class="tags">
            {% for t in tags -%}
                <span class="tag">{{ t | e }}</span>
            {%- endfor %}
        </div>
    </div>
{% endfor %}
</div>

{% endblock %}