{% macro field(id, label, type='text', class='', context=None) -%}
    {% if context is not none and context[id] is defined %}
        {% set value, error_msg = context[id].value, context[id].error_msg %}
    {% endif %}
    {% if error_msg is defined %}
        {% set class = "error " + class %}
    {% endif %}
    {% set attrs = dict(class=class, name=id, id=id, type=type, **kwargs) %}
    <div class="control-group {% if error_msg is defined -%}{{ "error" }}{%- endif %}">
        <label class="control-label" for="{{ id }}">{{ label }}</label>
        <div class="controls">
            <input 
                {{ attrs | xmlattr }} value="{{ value | e }}"
            />
            {% if error_msg is defined %}
                <p class="help-inline">{{ error_msg }}</p>
            {% endif %}
        </div>
    </div>
{%- endmacro %}

{% macro tokenised_typeahead(id, label, class='', context = None) %}
    {% if context is not none and context[id] is defined %}
        {% set value, error_msg, tags = context[id].value, context[id].error_msg, context[id].tags %}
    {% endif %}
    {% if error_msg is defined %}
        {% set class = "error " + class %}
    {% endif %}
    {% if tags is defined %}
        <script> var {{ id }}_tagSrc = {{ tags }};</script>
    {% endif %}
    
    
    <div class="control-group">
        <label class="control-label" for="{{ id }}">{{ label }}</label>
        <div class="controls">
            {% set class = "" + " tokenised-typeahead" %}
            <div class="{{ class }}">
                <input type="hidden" name="{{ id }}" id="{{ id }}" value="{{ value | e }}"/>
                <input autocomplete="off" type="text" name="tag-input-{{ id }}" id="tag-input-{{ id }}" />
                <div style="clear:both"></div>
            </div>
            {% if error_msg is defined %}
                <p class="help-inline">{{ error_msg }}</p>
            {% endif %}
        </div>
    </div>
{% endmacro %}


{% macro entries(entries) -%}
    {% for entry in entries %}
    <div class="entry">
        <a href="{{ entry.link | e }}">{{ entry.link | e }}</a>
        <span>{{ entry.date_created | timesince }}</span>
        <div class="tags">
            {% for t in entry.tags -%}
                <span class="tag">{{ t | e }}</span>
            {%- endfor %}
        </div>
    </div>
{% endfor %}
{%- endmacro %}

