{% macro field(id, label, args, type='text', placeholder='') -%}

    <div class="field">
        <label for="{{ id }}">{{ label }}</label>
        <input 
            type="{{ type }}" {% if args is defined -%}value="{{ args(id) | e }}"{%- endif %} name="{{ id }}" id="{{ id }}" 
            placeholder="{{ placeholder }}"
        />
    </div>
{%- endmacro %}

{% macro testmacro(id, label, type='text', class='', value='', errorMsg=None) -%}
    {% if errorMsg is not none %}
    {% set class = "error " + class %}
    {% endif %}
    {% set attrs = dict(class=class, name=id, id=id, type=type, **kwargs) %}
    <div class="field">
        <label for="{{ id }}">{{ label }}</label>
        <input 
            {{ attrs | xmlattr }} {{ value | e }}
        />
    </div>
{%- endmacro %}



{% macro entries(entries) -%}
    {% for entry in entries %}
    <div class="entry">
        <a href="{{ entry.link | e }}">{{ entry.link | e }}</a>
        <span>{{ entry.date_created | timesince }}</span>
        <div class="tags">
            {% for t in entry.tags -%}
                <span class="tag">{{ t | e }}</span>
            {%- endfor %}
        </div>
    </div>
{% endfor %}
{%- endmacro %}


{% macro type_ahead_token() %}
    <div class="tokenised-typeahead">
        <!-- <a class="close"> &times;</a> -->
        <input placeholder="Enter your tags" type="text"/>
        <div style="clear:both"></div>
    </div>
{% endmacro %}