{% macro field(id, label, attrs={}, type='text', attrs={}, errorMsg = None) -%}
    <div class="field">
        <label for="{{ id }}">{{ label }}</label>
        <input 
            type="{{ type }}" {{ attrs | xmlattr }} name="{{ id }}" id="{{ id }}"
        />
    </div>
{%- endmacro %}

{% macro tokenised_typeahead(id, label, attrs={}, errorMsg = None) %}
    <label for="tag-input-{{ id }}">{{ label }}</label>
    <div class="tokenised-typeahead">
        <input type="hidden" name="{{ id }}" id="{{ id }}"/>
        <input type="text" {{ attrs | xmlattr }} name="tag-input-{{ id }}" id="tag-input-{{ id }}" />
        <div style="clear:both"></div>
    </div>
{% endmacro %}

{% macro entries(entries) -%}
    {% for entry in entries %}
    <div class="entry">
        <a href="{{ entry.link | e }}">{{ entry.link | e }}</a>
        <span>{{ entry.date_created | timesince }}</span>
        <div class="tags">
            {% for t in entry.tags -%}
                <span class="tag">{{ t | e }}</span>
            {%- endfor %}
        </div>
    </div>
{% endfor %}
{%- endmacro %}


